<div class="container-fluid produits-block">
        <div class="row p-5">
            <div class="col-sm-6 col-md-6">
              <div class="prod-image">
                {{ field_image_projets }}
                <div class="overlayinn">
                  <div class="text-center">
                    <h4 class="font-weight-bold">Le Trio Mugiwara</h4>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3 ono">
              {{ field_text_du_projet }}
            </div>
            <div class="col-sm-3 col-md-3 bod-part">
              {{ body }}
        </div>
    </div>
</div>